user nginx;
worker_processes auto;
error_log /var/log/nginx/error.log notice;
pid /run/nginx.pid;

events {
    worker_connections 1024;
}

http {
    include             /etc/nginx/mime.types;
    default_type        application/octet-stream;

    upstream backend_servers {
        # Dynamically pulling private IPs from inventory
        server {{ hostvars[groups['backend'][0]].ansible_ssh_host_private }}:80;
        server {{ hostvars[groups['backend'][1]].ansible_ssh_host_private }}:80;
        server {{ hostvars[groups['backend'][2]].ansible_ssh_host_private }}:80 backup;
    }

    server {
        listen 80;
        server_name _;

        location / {
            proxy_pass http://backend_servers;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
    }
}
