---
- name: Install nginx
  yum:
    name: nginx
    state: present
    update_cache: yes

- name: Start and enable nginx
  service:
    name: nginx
    state: started
    enabled: true

- name: Deploy nginx config
  template:
    src: nginx_frontend.conf.j2
    dest: /etc/nginx/nginx.conf
  notify: Restart nginx

